body {
  margin: 0px;
  background-color: black;
  -webkit-user-select: none;
  user-select: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

.ant-drawer-content {
  background-color: black !important;
  padding: 0px !important;
}

.ant-drawer-body {
  padding: 12px !important;
}

.ant-drawer-mask {
  background-color: rgba(75, 75, 75, 0.4) !important;
}

.icon-button-mobile,
.icon-button-mobile:hover,
.icon-button-mobile:focus {
  background: white !important;
  border-width: 0px;
  color: black !important;
}

*::-webkit-scrollbar {
  display: none;
}
